doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //Font Awesome CSS
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')

    // Bootstrap CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")