include head
	body
		nav.navbar.navbar-dark.bg-dark
			.container-fluid
				a.navbar-brand(href='#') PasteBin
				ul.nav.navbar-nav.pull-right
					li
						button.btn.btn-outline-default.my-2.my-sm-0 Servicos
		
		.container.mt-5
			.card.text-center.bg-secondary
				.card-header 
					span(style="color: white") PasteBin
				.card-body
					.form-group.col-md-12
						//- label(style="color: white") Titulo
						input.form-control#titulo(type="text", name = "titulo",placeholder="Insira um titulo")
						label.text-warning#errTitulo
					.form-group
						textarea.form-group.col-md-12#text(name="textarea",rows="20", style="border:solid 1px orange;")
						label.text-warning#errTexto
					.form-group
						label(for='exampleFormControlSelect1',name="expira", style="color: white") Expira em
						select#expirated
							option(val="#") Nenhum
							option(val="5min") 5 min
							option(val="10min") 10 min
							option(val="1sem") 1 Semana
							option(val="1mes") 1 Mes
							option(val="1ano") 1 Ano
						
						
				.card-footer.text-muted
					button.btn-outline-default#btnSalvar Salvar

	
		//- button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')

		button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Open Modal
		// Modal
				
		#myModal.modal.fade(role='dialog')
			.modal-dialog
				// Modal content
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal') &times;
						h4.modal-title Modal Header
					.modal-body
						p Some text in the modal.
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
	
	include footer

	script.

		$("#btnSalvar").on("click", function(){

			data = {
				titulo : $("#titulo").val(),
				texto  : $("#text").val(),
				expira   : $("#expirated").val()
			}

			$.ajax({
				url: "/save",
				data: data,
				success: function(data){
					if(data){
						if(data.status == 404){
							console.log(data.err)
							$("#errTitulo").text(data.titulo)
							$("#errTexto").text(data.texto)
						}else{
							alert(data.dados.link)
						}
						
					}
				}
			})

		})
		//- $(document).ready(function(){
		//- 	//- alert("hahahahahahahha")
		//- })
