include head
	body
		nav.navbar.navbar-dark.bg-dark
			.container-fluid
				a.navbar-brand(href='#') PasteBin
				ul.nav.navbar-nav.pull-right
					li
						a(href='/servicos')
							button.btn.btn-outline-default.my-2.my-sm-0 Servicos
		
		.container.mt-5
			.card.text-center.bg-dark
				.card-header.font-weight-bold
					span(style="color: white") #{data.titulo}
				.card-body
					.form-group.col-md-12
						//- label(style="color: white") Titulo
						//- input.form-control#titulo(type="text", name = "titulo")
						//- label(style="color: white") #{data.titulo}
					.form-group
						textarea.form-group.col-md-12#text(name="textarea",rows="20", style="border:solid 1px orange;" disabled) #{data.texto}
						//- label.text-warning#errTexto
						
				.card-footer.text-muted
					button.btn.btn-success#btnNew Criar outro

	
		
	
	include footer

	script.

		$("#btnNew").on("click", function(){

			location.assign('/');

		})
		//- $(document).ready(function(){
		//- 	//- alert("hahahahahahahha")
		//- })
